.outerbox {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1),
    10px 5px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.color-g label {
  color: #e67e22 !important;
}

.color-g input {
  outline: none !important;
  border: #e67e221px solid !important;
}
input {
  border-radius: 0 !important;
}
label {
  font-weight: 500 !important;
}
strong {
  text-transform: uppercase;
}
.color-r {
  color: #dd4128;
}
.enquirySuccessHd {
  color: white;
}

/* 
.userLoginSuccess-container div button {
	background-color: #297e8e;
	color: white;
	font-size: 20px;
	padding: 6px 20px;
	margin: 20px;
	font-weight: 500;
  } */
