.slider-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  min-height: 200px !important;
}

.listloader {
  transform: scale(0.5);
}

svg {
  margin: auto;
}
.product-img {
  height: 200px !important;
  width: 200px;
  border: 1px solid #f1f6f9;
}

.product-img:hover {
  border: 2px solid #d6e0f0;
}

.Product-name {
  /* text-transform: uppercase; */
  font-size: 14px;
  color: #212121;
  line-height: 1.4;
}

.productCardImg {
  position: relative;
}
.wish {
  position: absolute;
  top: -29px;
  right: 0.1vw;
  color: #707070;
  /* transform: scale(1.2); */
}
.colored {
  color: #f39c12;
}
.color-r {
  color: red;
}
.view {
  background-color: #e67e22 !important;
  border: 2px solid #e67e22 !important;
  border-radius: 0 !important;
  color: white !important;
  padding: 4px 10px;
  height: 80px;
}
.color-gray {
  color: gray !important;
}
.btn-colored {
  border: 3px solid #e67e22 !important;
  border-radius: 0 !important;
  color: #e67e22 !important;
}
.color-b {
  color: #e67e22 !important;
}
.btn-veiw {
  border: 3px solid #e67e22 !important;
  border-radius: 0 !important;
  color: #e67e22 !important;
}
.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid !important;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.hr {
  height: 5px !important;
  border: 0;
  box-shadow: 0 10px 10px -10px #bdbdbd inset;
}

.productSliderHdDiv {
  padding: 0px 30px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
  align-items: center;
}

.viewAllBtn {
  padding: 8px 16px !important;
  font-size: 18px !important ;
  color: #fff;
  background-color: #f39c12;
  font-weight: 500;
  align-items: center;
  height: fit-content;
}

.viewAllBtn:hover {
  box-shadow: -4px 4px 16px -5px #f39c12;
  -webkit-box-shadow: -4px 4px 16px -5px #f39c12;
  -moz-box-shadow: -4px 4px 16px -5px #f39c12;
}

.heart {
  width: 80px;
  height: 80px;
  background: url("./assets/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}
.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.product__hover {
  display: none;
}
.hoverable__product {
  position: relative;
}
.hoverable__product:hover > .product__nohover {
  display: none;
}
.hoverable__product:hover > .product__hover {
  display: block;
  border-radius: 10px !important;
  overflow: hidden !important;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75) !important;
  transition: transform 0.1s ease-in !important;

  max-height: initial;
}
.addCart__hover {
  display: flex;
  justify-content: center;
}
.viewCart__hover {
  display: flex;
  justify-content: center;
}
.btnAdd1 {
  border: solid 3px #f1c40f;
  background-color: #f1c40f;
  padding: 3px 30px !important;
  width: 13rem;
  color: white;
  font-weight: 400;
  font-size: 12px;
  max-width: 100%;
  margin: auto;
  margin: 2px;
}
.buybtn1 {
  width: 13rem;

  border: solid 3px #e67e2e !important;
  background-color: #e67e2e !important;
  color: white !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  /* padding: 3px 33px !important; */
  /* max-width: 100%; */
  display: flex;
  justify-content: center;

  margin: 2px;
}
.productCardImg__hovered {
  height: 100px !important;
  width: 100px !important;
  object-fit: cover !important;
}
.product__price1 {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #212121 !important;
  margin: 0;
  padding: 0;
}
.product__discount {
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
  margin: 0;
  padding: 0;
}
.product__discount__percent {
  color: #388e3c;
  font-size: 10px;
  letter-spacing: -0.2px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.buttons__hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sc-bdVaJa.imYUvI {
  height: 400px;
}
.products__hover__price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.heart__align {
  position: absolute;
  top: -20px;
  z-index: 1;
  right: 10px;
}

.buybtn1 > .buybtn1__icon {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}

.buybtn1 > .buybtn1__text {
  margin-left: 10px !important;
}
.fa-arrow-circle-right {
  color: #e67e22 !important;
}
.fa-arrow-circle-left {
  color: #e67e22 !important;
}
