body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    background-color: white !important;
  }
  
  button:hover{
    cursor: pointer;  
  }
  
  a{
    text-decoration: none !important;
    color: inherit !important;
  }
  